<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JAC444/src/ca/jay/jac444/week3/sample/Extended.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ca.jay.jac444.week3.sample.Extended"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JAC444"/>
</launchConfiguration>
